*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
h1{
    color: red;
}
p{
    background-color: aqua;    
    color: purple;
}

@media(max-width:768px){
    h1{
        color: yellow;
        font-size: 5rem;
        font-style: italic;
        margin: 5rem;
        
    }

}